body {
  font-family: 'Open Sans', sans-serif;
  margin: 0%;
}


.mask-custom {
  backdrop-filter: blur(5px);
  background-color: rgba(178, 60, 253, 0.2);
}
.landing-image {
  display: block;
  margin-right: 2rem;
  width: 50%;
}
.landing-text {
  margin-top: 10%;
  margin-left: 4%;
}
.social-media {
  height: 3rem;
  width: 3rem;
}
.fab {
  font-size: 3rem;
}
.form-contact {
  width: 75%;
  margin: auto;
}
.landing {
  margin-top: 56px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.img-perfil {
  background-image: url('./materials/perfil.jpeg');
  background-repeat: no-repeat;
  background-size: 150px 150px;
}
.about-text {
  margin-top: 3%;
  vertical-align: middle;
}
.fiverr-png {
  margin: auto;
  width: 75px;
}