body {
  font-family: 'Open Sans', sans-serif;
  /* background-color: #35363A; */
}
.navbar-brand:hover, .nav-link:hover {
  color: rgba(255, 255, 255, 0.5);
}
.test {
  background-color: springgreen;
}
.mask-custom {
  backdrop-filter: blur(5px);
  background-color: rgba(178, 60, 253, 0.2);
}
.landing-image {
  display: block;
  margin: 0 auto;
  width: 60%;
}